@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-caveat{
    font-family: 'Caveat', cursive;
}

.text-diphy{
    font-family: 'Diphylleia', serif;
}

.text-comfort{
    font-family: 'Comfortaa', cursive;
}

.pind{
    background-image: url(assets/abstrack_backhround_blue__generated.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
}